<!DOCTYPE html>
<html>
    <head>
                <link rel ="icon" href="/img/weather.png">

         <link rel="stylesheet" href="/css/styles.css">
        

    </head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by aswin.it use data from mapbox.com</p>
        <h2>
        <img class ="portrait"src="/img/me.jpg">
        </h2>
    </div>
            {{>footer}}

    

        

    </body>

    </body>

</html>